.drumkit{
    background-color: white;
    padding: 200px;
    
}

.keystrokes{
    padding: 20px;
    font-size: 24px;
    font-weight: bolder;
    width: 50px;
    height: 50px;
    float: left;
    background: grey;
    color: white;
    margin: 10px;
}

.sound{
    font-size: 2px;
    text-align: left;
    text-transform: uppercase;
    color: #ffc600;
}